
* {
    margin: 0;
    padding: 0;
}
html {
    scroll-behavior: smooth;
    font-family: monospace;
}
a {
    font-weight: bolder;
    color: black;
}
p {
    font-size: 12px;
    line-height: 16px;
    padding: 5px 0;
}

/* LAYOUT */

.slide {
    width: 100%;
    height: 100vh;
    overflow: hidden;
    position: relative;
}
.fixed_background {
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: -1;
}
.background {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* DOCKS */

.gui_center {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
.gui_bottom_center {
    position: absolute;
    left: 50%;
    bottom: 10px;
    transform: translate(-50%, 0);
}
.gui_top_center {
    position: absolute;
    left: 50%;
    top: 20px;
    transform: translate(-50%, 0);
}

/* FLEX */

.column {
    display: flex;
    flex-direction: column;
}
.row {
    display: flex;
    flex-direction: row;
}
.column > .space {
    margin-bottom: 10px;
}
.row > .space {
    margin-right: 10px;
}
.flex_center {
    justify-content: center;
}
.self_center {
    align-self: center;
}